@import "tailwindcss";

body{
  color:white;
}

.bg-primary-color{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: linear-gradient(135deg,rgba(19, 45, 89, 1) 0%, rgba(1, 5, 19, 1) 100%);
  z-index: -100;
}
.bg-primary{
  background-color: #d4e8ff03;
  box-shadow: inset 0 0 0 1px #d4e8ff14, inset 0 .5px .5px #d4e8ff1f, inset 0 3px 12px #d4e8ff14, inset 0 -16px 32px #d4e8ff14;
  
}
.button-move{
  animation: move 2s linear infinite;
}
@keyframes move {
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(-5px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(5px);
  }
  100%{
    transform: translateY(0px);
  }
}
.button-move-still:hover{
  animation: movestill 500ms linear;
}
@keyframes movestill {
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(-5px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(5px);
  }
  100%{
    transform: translateY(0px);
  }
}
.rotate{
  animation: rotate 5s linear infinite;
}
@keyframes rotate {
   from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.scroller__inner li{
  background: #ffffff1d;
  padding: 10px;
}
.scroller img {
  
  height: 350px;
  width: auto;
}

.scroller {
  width: 100%;
  overflow: hidden;
}

/* The inner scrolling row */
.scroller__inner {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
}

/* Enable infinite scroll */
.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  animation: scroll var(--speed, 20s) linear infinite;
}

/* Speed Control (only fast kept) */
.scroller[data-speed="fast"] {
  --speed: 20s;
}

/* Infinite scroll animation */
@keyframes scroll {
  to {
    transform: translateX(-50%);
  }
}
